<header class="header">
    <h1><img class="logo" src="images/logo.png" />THE WOLFS</h1>
    <button class="menu-toggle" id="menuToggle">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
    </button>
    <nav class="nav-menu" id="navMenu">
        <ul>
            <li><a href="index.html">QUE SON</a></li>
            <li><a href="alimento.html">QUE COMEN</a></li>
            <li><a href="habitat.html">EN DONDE HABITAN</a></li>
        </ul>
    </nav>
</header>
